body {
  background-color: rgb(234, 234, 234) !important;
}
.activities-container-desktop > .ui.grid {
  margin: 1.5rem 7rem 0 7rem;
}
.ui.inverted.top.fixed.menu {
  /* background: linear-gradient(to right, #a5673f, #96705B); */
}
/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/assets/stoneforge_mystic.jpg") no-repeat center / cover !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.menu .mobile-menu-container {
  display: none;
}
.img-preview {
  margin: 5px auto 10px;
}
.ui.menu {
  margin: 0;
  border: none;
}
/*end home page styles*/

/* Mobile Styling */
@media (max-width: 767px) {
  #menu-mobile {
    width: 100%;
  }
  .ui.menu .mobile-menu-container {
    display: flex;
  }
  .mobile-menu-sidebar {
    /* background: linear-gradient(to right, #a5673f, #96705B) !important; */
  }
  .backdrop {
    position: fixed;
    top: 180px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 250;
    transition: transform 1s ease-out;
  }

  .ui.menu > .container-desktop {
    display: none;
    margin: auto;
    padding: 0;
  }
  .ui.menu > .container-mobile {
    display: block;
    margin: auto;
    padding: 0;
  }

  .ui.menu .header.item.header-mobile {
    padding: 10px 0;
    text-align: center;
    display: block;
  }
  .ui.inverted.menu .header.item.header-mobile img {
    display: none;
  }

  .ui.menu .activities-mobile {
    padding: 10px 0;
    text-align: center;
    display: block;
    background: none !important;
  }

  .ui.menu:not(.vertical) .item {
    display: block;
  }

  .ui.menu .create-activity {
    padding: 10px 0px;
    text-align: center;
    display: block;
  }

  .ui.inverted.menu .create-activity a {
    background: none;
    font-weight: normal;
  }

  .ui.menu .menu-profile {
    padding: 10px 0;
    text-align: center;
    display: block !important;
  }

  .ui.segment {
    font-size: 18px;
  }
  .activities-container-mobile {
    margin: 2em 0 0 0;
  }
  .img-preview {
    margin: 5px auto 10px;
  }
}
@media (max-width: 991px) {
  .ui.grid .wide.column.mobile-width {
    width: 100% !important;
  }
}
/* End of mobile styling */
