@media (max-width: 500px) {
  .ui.grid > [class*='sixteen wide'].column {
    padding: 14px 0;
  }
  .ui.grid > [class*='four wide'].column {
    order: 1;
    width: 100% !important;
    padding-bottom: 0;
  }
  #profile-tabs .stretched.twelve.wide.column {
    order: 2;
    width: 100% !important;
    padding-bottom: 0;
  }
  .ui.floated.header,
  .ui[class*='left floated'].header {
    float: none;
  }
  .ui.basic.button {
    float: none;
    margin: 10px 0;
  }
  .ui.five.cards > .card {
    width: calc(100% - 1.5em);
  }
  .ui.four.cards > .card {
    width: calc(100% - 1.5em);
  }

  .ui.secondary.pointing.menu a.item {
    padding: 12px 9px;
  }
  .ui.segment {
    margin-bottom: 0;
  }
}
