@media (max-width: 500px) {
  .ui.grid {
    margin: 0;
    justify-content: center;
  }
  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #activities-grid {
    order: 2;
    width: 100% !important;
    padding: 0;
  }
  #filters-grid {
    order: 1;
    width: 100% !important;
    padding: 0 0 1rem;
  }
  #loader-grid {
    width: 100% !important;
    order: 3;
  }
  .ui.large.vertical.menu {
    margin-top: 3rem !important;
  }
}

.rw-cell.rw-state-selected, .rw-cell.rw-state-selected:hover {
  background-color: #f2711c;
  border-color: #f2711c;
  color: white;
}
.host a {
  color: #ffdc00;
}
.ui.ribbon.label {
  top: 25px;
}