@media (max-width: 500px) {
  .ui.grid > [class*='ten wide'].column {
    width: 100% !important;
    padding: 14px 0;
  }
  .create-activity-form.ui.segment:first-child {
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
.ui.clearing.segment.create-activity-form{
  margin-top: 3rem;
}
}